<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div>
    <h2>Home Owning Costs</h2>
    <p>Optional Configuration</p>
  </div>

  <p-card>
    <form [formGroup]="homeOwnerForm" class="gap-4 flex flex-col">
      <label for="annualMaintenance">Annual Maintenance</label>
      <input
        id="annualMaintenance"
        formControlName="annualMaintenance"
        type="text"
        pInputText
        class=""
      />
      <label for="propertyTaxRate">Property Tax Rate</label>
      <input
        id="propertyTaxRate"
        formControlName="propertyTaxRate"
        type="text"
        pInputText
        class=""
      />
      <label for="appreciationRate">Appreciation Rate</label>
      <input
        id="appreciationRate"
        formControlName="appreciationRate"
        type="text"
        pInputText
        class=""
      />
      <label for="mortgageRate">Mortgage Rate</label>
      <input
        id="mortgageRate"
        formControlName="mortgageRate"
        type="text"
        pInputText
        class=""
      />
    </form>
    <p-divider></p-divider>
    <div class="flex flex-row justify-end gap-4">
      <p-button severity="secondary">Clear</p-button>
      <p-button [outlined]="true" severity="primary">Apply</p-button>
    </div>
  </p-card>
</div>
