<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div>
    <h2>Home Owning Costs</h2>
    <p>Optional Configuration</p>
  </div>

  <p-card>
    <form
    (ngSubmit)="submit()"
    [formGroup]="homeOwnerForm" class="gap-4 flex flex-col">
      <label for="annualMaintenance">Annual Maintenance</label>
      <p-inputnumber
        mode="currency"
        currency="USD"
        inputId="annualMaintenance"
        formControlName="annualMaintenance"
        type="text"
        pInputText
        class=""
      />
      <label for="propertyTaxRate">Property Tax Rate</label>
      <p-inputnumber
        suffix="%"
        inputId="propertyTaxRate"
        formControlName="propertyTaxRate"
        type="text"
        pInputText
        class=""
      />
      <label for="appreciationRate">Appreciation Rate</label>
      <p-inputnumber
        suffix="%"
        inputId="appreciationRate"
        formControlName="appreciationRate"
        type="text"
        pInputText
        class=""
      />
      <label for="mortgageRate">Mortgage Rate</label>
      <p-inputnumber
        suffix="%"
        inputId="mortgageRate"
        formControlName="mortgageRate"
        type="text"
        pInputText
        class=""
      />
    </form>
    <p-divider></p-divider>
    <div class="flex flex-row justify-end gap-4">
      <p-button [disabled]="homeOwnerForm.untouched" (onClick)="homeOwnerForm.reset()" severity="secondary">Clear</p-button>
      <p-button type="submit" [outlined]="true" severity="primary">Apply</p-button>
    </div>
  </p-card>
</div>
